<ion-view title="iPan Cooking">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Temperatures</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item href="#/data">Oil: {{temp}}º</ion-item>
                    <ion-item href="#/data">Food: {{tempT}}º</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Cooking: Potatoes</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Min-temp: 140º</ion-item>
                    <ion-item>Mx-temp: 160º</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
